* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
  overflow: hidden;
  font-family: sans-serif;
}

#startScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.custom-button {
  background-color: #007bff;
  color: white;
  padding: 16px 24px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

#appScreen {
  position: relative;
  width: 100%;
  height: 100%;
}

#video,
#overlayImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; /* Menor z-index para o vídeo e imagem */
}

#rotateButton,
#opacityControl {
  position: absolute;
  z-index: 2; /* Maior z-index para garantir que fiquem em cima */
}

#rotateButton {
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}

#opacityControl {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 20px;
}

#opacityControl input {
  margin-left: 10px;
  width: 150px;
}

#overlayImage {
  opacity: 0.5;
  pointer-events: none; /* Impede interação com a imagem, mas permite interagir com controles */
}

#opacityControl label {
  color: white;
  font-size: 16px;
  margin-right: 10px;
}
